.DS_Store
.env
.env.*
!.env.example
!.env.*.example

node_modules/
dist/
target/
**/.venv/
*.egg-info/
**/*_checkpoints/
**/.build/
.venv-audio-tags/
.astro/
.expo/
.turbo/
.vite/
.vscode/
.iris/
*.pyc
*.sqlite
*.sqlite-shm
*.sqlite-wal
DerivedData/
*.dSYM/
